# ================================
# Python
# ================================
__pycache__/
*.pyc
*.pyo
*.pyd

# ================================
# Virtual Environment
# ================================
env/
venv/

# ================================
# Datasets
# ================================
PlantVillage/
data/

# ================================
# Model Files
# ================================
*.pth
*.pt
*.h5

# ================================
# Logs & Temp
# ================================
*.log
*.tmp

# ================================
# OS files
# ================================
.DS_Store
Thumbs.db

# ================================
# IDE
# ================================
.vscode/
.idea/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/
train_model.py


# ================================
# Secrets
# ================================
.env
